<canvas id="canvas"></canvas>
<header class="header">
    <div class="header__text-area u-center-text">
        <h1 class="heading-primary">
            <p class="heading-primary--main">Hello World. My name is {{data.ProfileName.fname}}
                {{data.ProfileName.lname}}.</p>
            <p class="heading-primary--sub">I'm a {{data.ProfileName.title}}.</p>
        </h1>

        <a href="#section-about" class="btn btn--white btn--animated">Check me out</a>
    </div>
</header>

<section class="section-about u-center-text" id="section-about">
    <div class="bio">
        <p class="bio--text">{{data.ProfileName.bio}}</p>
    </div>
    <div class="gap"></div>
</section>


<section class="section-skills">
    <div class="row skills-row">
        <div class="col-1-of-4">
            <div class="skills-box u-center-text">
                <h5 class="heading-secondary">Front-End <i class="fa fa-code icon" aria-hidden="true"></i></h5>
                {{#each data.dataValues.FrontEndSkills}}
                <div class="skill-box--text">
                    <ul>
                        <li>{{dataValues.nameOfSkill}}</li>
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="skills-box u-center-text">
                <h5 class="heading-secondary">Back-End <i class="fa fa-code-fork icon" aria-hidden="true"></i></h5>
                {{#each data.dataValues.BackEndSkills}}
                <div class="skill-box--text">
                    <ul>
                        <li>{{dataValues.nameOfSkill}}</li>
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="skills-box u-center-text">
                <h5 class="heading-secondary">Framework <i class="fa fa-pencil icon" aria-hidden="true"></i></h5>
                {{#each data.dataValues.BackEndSkills}}
                <div class="skill-box--text">
                    <ul>
                        <li>{{dataValues.nameOfSkill}}</li>
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-1-of-4">
            <div class="skills-box u-center-text">
                <h5 class="heading-secondary">Other <i class="fa fa-desktop icon" aria-hidden="true"></i></h5>{{#each data.dataValues.BackEndSkills}}
                <div class="skill-box--text">
                    <ul>
                        <li>{{dataValues.nameOfSkill}}</li>
                    </ul>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>

<section class="section-projects">
    <div class="u-center-text u-margin-top-huge">
        <h2 class="heading-secondary u-margin-bottom-small u-heading-white">
            Projects
        </h2>
    </div>

    <div class="projects">
        <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="/template-themes/DeepDarkGalaxy/img/artem-sapegin-ZMraoOybTLQ-unsplash.jpg"
                            class="project-img">
                        <h3>{{data.Projects.[0].title}}</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>{{data.Projects.[0].description}}</p>
                        <a href={{data.Projects.[0].demolink}} target="_blank">View App</a>
                        <a href={{data.Projects.[0].githublink}} target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="/template-themes/DeepDarkGalaxy/img/clement-h-95YRwf6CNw8-unsplash.jpg"
                            class="project-img">
                        <h3>{{data.Projects.[1].title}}</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>{{data.Projects.[1].description}}</p>
                        <a href={{data.Projects.[1].demolink}} target="_blank">View App</a>
                        <a href={{data.Projects.[1].githublink}} target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="/template-themes/DeepDarkGalaxy/img/emile-perron-xrVDYZRGdw4-unsplash.jpg"
                            class="project-img">
                        <h3>{{data.Projects.[2].title}}</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>{{data.Projects.[2].description}}</p>
                        <a href={{data.Projects.[2].demolink}} target="_blank">View App</a>
                        <a href={{data.Projects.[2].githublink}} target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="section-contact">
    <div class="u-center-text">
        <h2 class="heading-secondary">
            Get in touch with me!
        </h2>
        <div class="contact">
            <a href={{data.dataValues.Link.dataValues.instagram}} target="_blank"><i
                    class="fa fa-instagram contact__icon u-padding-left" aria-hidden="true"></i></a>
            <a href={{data.dataValues.Link.dataValues.linkedin}} target="_blank"><i
                    class="fa fa-linkedin-square contact__icon u-padding-left" aria-hidden="true"></i></a>
            <a href={{data.dataValues.Link.dataValues.facebook}} target="_blank"><i
                    class="fa fa-facebook-official contact__icon u-padding-left" aria-hidden="true"></i></a>
            <a href={{data.dataValues.Link.dataValues.twitter}} target="_blank"><i
                    class="fa fa-twitter-square contact__icon u-padding-left" aria-hidden="true"></i></a>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer__copyright u-center-text">
        Copyright &copy; GoHAM 2019
    </div>
</footer>




<!-- this grid with float layout will allow me to create consistent interfaces and divide the available space in equal parts -->
<!-- <section class="grid-test">

        <div class="row">
            <div class="col-1-of-2">
                Col 1 of 2
            </div>
            <div class="col-1-of-2">
                Col 1 of 2
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                Col 1 of 3
            </div>
            <div class="col-2-of-3">
                Col 2 of 3
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-2-of-4">
                Col 2 of 4
            </div>
        </div>

        <div class="row">
            <div class="col-1-of-4">
                Col 1 of 4
            </div>
            <div class="col-3-of-4">
                Col 3 of 4
            </div>
        </div>

    </section> -->