{{>sideNav}}

<section id="section-skills">
    <div class="box3 u-center-text u-margin-top-big u-margin-bottom-small">
        <h3 class="heading-quad">
            Front-End Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Front-End Skills" id="frontend" required>
            </div>
            {{#each data.dataValues.FrontEndSkills}}
            <div class="delfrontendskill">
                <li class="delete">
                    <button data-deleteid="{{dataValues.id}}" class="frontenddeletebtn">{{dataValues.nameOfSkill}}</button>
                </li>
            </div>
            {{/each}}
        </h3>
    </div>

    <div class="box4 u-center-text u-margin-bottom-small" id="data" data-id={{data.id}}>
        <h3 class="heading-quad">
            Back-End Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Back-End Skills" id="back-end-value" required>
            </div>
            {{#each data.dataValues.BackEndSkills}}
            <div class="delbackendskill">
                <li class="delete">
                    <button data-deleteid="{{dataValues.id}}" class="backenddeletebtn">{{dataValues.nameOfSkill}}</button>
                </li>
            </div>
            {{/each}}
        </h3>
    </div>

    <div class="box5 u-center-text u-margin-bottom-small">
        <h3 class="heading-quad">
            Frameworks
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Frameworks" id="frameworks" required>
            </div>
            {{#each data.dataValues.Frameworks}}
            <div class="delframework">
                <li class="delete">
                    <button data-deleteid="{{dataValues.id}}" class="frameworksdeletebtn">{{dataValues.nameOfSkill}}</button>
                </li>
            </div>
            {{/each}}
        </h3>
    </div>

    <div class="box6 u-center-text u-margin-bottom-small">
        <h3 class="heading-quad">
            Other Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Other Skills" id="otherskills" required>
            </div>
            {{#each data.dataValues.OtherSkills}}
            <div class="delotherskill">
                <li class="delete">
                    <button data-deleteid="{{dataValues.id}}" class="otherskillsdeletebtn">{{dataValues.nameOfSkill}}</button>
                </li>
            </div>
            {{/each}}
        </h3>
    </div>
    <button type="button" class="btn btn-light submit" id="submit">Submit</button>
</section>

<script src="/js/crudSkills.js"></script>