{{!-- <h1>Welcome to account page referencing {{data.name}} id {{data.id}}</h1> --}}

{{>navigation}}

<section class="section-profile">
    <div class="u-center-text">
        <h1 class="profile__heading u-margin-bottom-big">
            Please follow the steps to continue.
        </h1>
    </div>

    <div class="box1 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            What is your name?
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="First Name" required>
                <input type="text" class="form__input" placeholder="Last Name" required>
                <button type="button" class="btn btn-light">Edit</button>
                <button type="button" class="btn btn-light">Delete</button>
            </div>
        </h3>
    </div>

    <div class="box2 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            What is your profession/field of interest?
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Title" required>
                <button type="button" class="btn btn-light">Edit</button>
                <button type="button" class="btn btn-light">Delete</button>
            </div>
        </h3>
    </div>
    <div class="box3 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Front-End Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Front-End Skills" required>
            </div>
        </h3>
    </div>
    <div class="box4 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Back-End Skills
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Back-End Skills" required>
            </div>
        </h3>
    </div>
    <div class="box5 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Frameworks
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Frameworks" required>
            </div>
        </h3>
    </div>

    <div class="box6 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Other Skills
            <div class="form__group u-center-text u-margin-top-small" id="data" data-id={{data.id}}>
                <input type="text" class="form__input" placeholder="Other Skills" id="other-skills-value" required>
                <button type="button" id="other-skills" class="btn btn-dark">Submit</button>
            </div>
            <h2>Update a Plan</h2>
            <form id="update-other-skills" class="button-size">
                <select name="id">
                    {{#each data.dataValues.OtherSkills}}
                    <option value="{{dataValues.id}}">{{dataValues.nameOfSkill}}</option>
                    {{/each}}
                </select>
                <textarea type="text" name="skill" placeholder="Update"></textarea>
                <button type="submit">Update Plan!</button>
            </form>
        </h3>

        <ul>
            {{#each data.dataValues.OtherSkills}}
            <li>
                <p>
                    {{dataValues.id}} {{dataValues.nameOfSkill}}

                    <button data-deleteid="{{dataValues.id}}" class="delete-other-skills">Delete Plan!</button>
                </p>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="box7 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Projects
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Project Screenshot" required>
                <input type="text" class="form__input" placeholder="Project Title" required>
                <input type="text" class="form__input" placeholder="Project Github Link" required>
                <input type="text" class="form__input" placeholder="Project Demo Link" required>
                <button type="button" class="btn btn-light">Edit</button>
                <button type="button" class="btn btn-light">Delete</button>
            </div>
        </h3>
    </div>
    <div class="box8 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Links
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="LinkedIn Link" required>
                <input type="text" class="form__input" placeholder="GitHub Link" required>
                <input type="text" class="form__input" placeholder="Facebook Link" required>
                <input type="text" class="form__input" placeholder="Twitter Link" required>
            </div>
        </h3>
    </div>

    <div class="box8 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Resume
            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Upload Resume PDF" required>
                <button type="button" class="btn btn-light">Edit</button>
                <button type="button" class="btn btn-light">Delete</button>
            </div>
        </h3>
    </div>
    <div class="box11 u-center-text u-margin-top-big">
        <h3 class="heading-quad">
            Choose a template
        </h3>
    </div>

</section>

<script src="/js/crud-otherSkills.js"></script>
<script src="/js/profilePageAuth.js"></script>

{{!-- Scroll Reveal --}}
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/js/scrollReveal.js"></script>