{{>sideNav}}

<section id="section-links">
    <div class="box8 u-center-text u-margin-top-big" id="data" data-id={{data.id}}>
        <h3 class="heading-quad">
            Links

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="LinkedIn Link"
                    id="linkedin-value" required>

                {{#each data.dataValues.Links}}
                <div class="dellinkedin">
                    <li class="delete">
                        <button data-deleteid="{{dataValues.id}}" class="deletebtn">{{dataValues.linkedin}}</button>
                    </li>
                </div>
                {{/each}}
            </div>


            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="GitHub Link" id="github-value"
                    required>

                {{#each data.dataValues.Links}}
                <div class="delgithub">
                    <li class="delete">
                        <button data-deleteid="{{dataValues.id}}" class="deletebtn">{{dataValues.github}}</button>
                    </li>
                </div>
                {{/each}}
            </div>

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input u-margin-bottom-small" placeholder="Facebook Link"
                    id="facebook-value" required>

                {{#each data.dataValues.Links}}
                <div class="delfacebook">
                    <li class="delete">
                        <button data-deleteid="{{dataValues.id}}" class="deletebtn">{{dataValues.facebook}}</button>
                    </li>
                </div>
                {{/each}}
            </div>

            <div class="form__group u-center-text u-margin-top-small">
                <input type="text" class="form__input" placeholder="Twitter Link" id="twitter-value" required>

                {{#each data.dataValues.Links}}
                <div class="deltwitter">
                    <li class="delete">
                        <button data-deleteid="{{dataValues.id}}" class="deletebtn">{{dataValues.twitter}}</button>
                    </li>
                </div>
                {{/each}}
            </div>

        </h3>
        <button type="button" class="btn btn-light submit" id="submit-links">Submit</button>
    </div>
</section>

<script src="/js/crud-links.js"></script>